<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="MageplazaGiftCodeGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MageplazaGiftCodeGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MageplazaGiftCodeGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">giftcard_code</argument>
            <argument name="eventPrefix" xsi:type="string">giftcard_code_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">post_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\GiftCard</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mageplaza_giftcode_listing_data_source" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Cart\Coupon">
        <plugin name="Plugin" type="Mageplaza\GiftCard\Observer\Discount" sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="getPlugin" type="Mageplaza\GiftCard\Observer\Discount" sortOrder="100"/>
    </type>

</config>